.cartList { 
    text-align: center;
}
h1 {
    font-size: 3rem;
    margin: 1rem;
}
p {
    font-size: 2rem;
    margin: 1rem;
}

.space {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: #ea98f5;
    margin-bottom: 10px;
}

.contact__secction__item {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
