li {
    font-size: 2rem;
    margin: 1rem;
}
.cart__remove-icon {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.header{
	border-style: outset;
	border-color: rgb(0, 51, 102);
	border-width: 1px;
	border-bottom-style: inset;
    border-right-style: inset;
}

.section{
	border-style: groove;
	border-color: rgb(0, 51, 102);
	border-width: 1px;

}


.footer{
	border-style: groove;
	border-color: rgb(0, 51, 102);
	border-width: 1px;
	
	border-bottom-style: inset;
	border-bottom-style: inset;
    border-left-style: inset;
}

#ordenCompra{
	background-color: #f1f1f1;
}

.margin{
	margin-top: 10px;}

@media (min-width: 768px){
    .col-md-9 {
    flex: 0 0 auto;
    width: 100%;
}}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: #F1C1DA;
    color: black;
}